.footer {
    flex-direction: row;
    height: 8rem;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 50px;
    color: #d2d5d6;
}

.line-height {
    line-height: 1.45;
}

.font-weight {
    font-weight: 400;
}